@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; 
  --background-start-rgb: 18, 18, 18; /* Charcoal Black */
  --background-end-rgb: 18, 18, 18;   
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; 
    --background-start-rgb: 18, 18, 18; /* Charcoal Black */
    --background-end-rgb: 18, 18, 18;   
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb)); /* Charcoal Black */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes textGradient {
  0% { background-position: 0% 50%; }
  100% { background-position: 200% 50%; }
  
}


