@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; /* Set text color to white */
  --background-start-rgb: 0, 0, 0; /* Start of the gradient is black */
  --background-end-rgb: 0, 0, 0;   /* End of the gradient is black */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* Text remains white in dark mode */
    --background-start-rgb: 0, 0, 0; /* Background remains black */
    --background-end-rgb: 0, 0, 0;   /* Background remains black */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #000000; /* Body background is solid black */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
